<h1>All projects</h1>

<ul>
  <% @projects.each do | project | %>
    <li class="project"><%= link_to project.name, "projects/#{project.name}" %></a></li>
  <% end %>
</ul>


<%# link_to project.name, project.issues_url %>