<h1><%= @project.name%></h1>

<ul class="list-group">
  <% @issues.each do | issue | %>
    <li class="list-group-item">
      <span class="badge"><%= issue.priority.upcase %></span>
      <%= link_to issue.subject, issue.url %></a>
    </li>
  <% end %>
</ul>

<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>

<!-- <ul id="ticket-list" class="sortable list">
  <li><span class="handle">[::]</span>Item 1</li>
  <li id="item"><span class="handle">[::]</span>Item 2</li>
  <li><span class="handle">[::]</span>Item 3</li>
  <li><span class="handle">[::]</span>Item 4</li>
</ul> -->