<h1><%= @project.name%></h1>

<ul id="ticket-list" class="sortable list">
  <li><span class="handle">[::]</span>Item 1</li>
  <li id="item"><span class="handle">[::]</span>Item 2</li>
  <li><span class="handle">[::]</span>Item 3</li>
  <li><span class="handle">[::]</span>Item 4</li>
</ul>